{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="dialog">
		{% if result == 0 %}
		<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">X</button>
			{{ result_msg }}
		</div>
		{% endif %}
        
        {% if result == 1 %}
    	<div class="alert alert-success">
        	<button type="button" class="close" data-dismiss="alert">X</button>
        	{{ result_msg }}
        </div>
        {% endif %}
    
		<div class="block">
            <p class="block-heading">Account instellingen</p>
            <div class="block-body">
                <form name="postData" method="POST" action="/account">
                	{% csrf_token %}
                	<label>E-mailadres</label>
                    <input type="text" class="span12" name="email" disabled value="{{ User.email_text }}">
                    
                    <label>Naam</label>
                    <input type="text" class="span12" name="name" value="{{ User.name_text }}">
                    
                    <label>Adres</label>
                    <input type="text" class="span12" name="address" placeholder="Straatnaam + huisnummer" value="{{ User.address_text }}">
                    <input type="text" class="span4" name="zipcode" placeholder="Postcode" value="{{ User.zipcode_text }}">
                    <input type="text" class="span8" name="city" placeholder="Plaats" value="{{ User.city_text }}">
                    
                    <label>Telefoon</label>
                    <input type="text" class="span12" name="phone" value="{{ User.phone_text }}">
                    
                    <label>Aantal personen in gezin</label>
                    <input type="text" class="span12" name="famsize" value="{{ User.familysize }}">
                    
                    <button type="submit" class="btn btn-primary pull-right">Opslaan</button>
                    
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
