{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="sidebar-nav">
	<a href="#menu" class="nav-header" data-toggle="collapse">Menu</a>
	<ul id="menu" class="nav nav-list collapse in">
		<li><a href="/"><i class="icon-home"></i>Home</a></li>
		<li class="active"><a href="/appliances"><i class="icon-list-alt"></i>Apparaten</a></li>
		<li><a href="/productions"><i class="icon-cog"></i>Opbrengsten</a></li>
		<li><a href="/graphs"><i class="icon-dashboard"></i>Grafieken</a></li>
	</ul>
</div>
  
<div class="content">
	<div class="header">			
		<h1 class="page-title">Apparaten</h1>
	</div>

	<ul class="breadcrumb">
		<li><a href="/">Home</a><span class="divider">/</span></li>
		<li class="active">Apparaten</li>
		<li class="pull-right"><a href="/appliance/add">Toevoegen</a></li>
	</ul>
	
	<div class="container-fluid">
  		{% if Appliances %}
  		<table class="table table-bordered table-striped">
  			<thead>	
  				<tr>
  					<th>Soort</th>
  					<th>Merk</th>
  					<th>Type nr.</th>
  					<th>Omschrijving</th>
  					<th></th>
  				</tr>
  			</thead>
  			<tbody>
  				{% for app in Appliances %}
  				<tr>
  					<td>{{ app.soort_text }}</td>
  					<td>{{ app.brand_text }}</td>
  					<td>{{ app.type_nr }}</td>
  					<td>{{ app.desc_text }}</td>
  					<td><a href="/appliance/edit?id={{ app.id }}">Wijzig</a></td>
  					<td><a href="/production/add?id={{ app.id }}">Opbrengst</a></td>
  					<td><a href="/graph/grafiek?id={{ app.id }}">Grafiek</a></td>
  				</tr>
  				{% endfor %}
  			</tbody>
  			<tfoot>
  			</tfoot>
  		</table>
  		{% else %}
   			<div class="well">
				Uw heeft nog geen apparaten toegevoegd.
			</div>
		{% endif %}
	</div>
</div>
{% endblock %}
