{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="icon" href="{% static "images/favicon.ico" %}">
	    <link rel="stylesheet" type="text/css" href="{% static "lib/bootstrap/css/bootstrap.min.css" %}">
	    <link rel="stylesheet" type="text/css" href="{% static "lib/bootstrap/css/bootstrap-responsive.min.css" %}">
	    <link rel="stylesheet" type="text/css" href="{% static "css/theme.css" %}">
	    <link rel="stylesheet" type="text/css" href="{% static "lib/font-awesome/css/font-awesome.css" %}">
	    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
	    {% block extracss %}{% endblock %}
	    {% block extrajshead %}{% endblock %}
	
	    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	    <!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->
	</head>

	<!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
	<!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
	<!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
	<!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
	<!--[if (gt IE 9)|!(IE)]><!--> 
	<body class=""> 
	<!--<![endif]-->
    
		<div class="navbar">
		    <div class="navbar-inner">
	            <ul class="nav pull-right">
	            	{% if User and provider == "local" %}
	            	<li><img src="{% static "images/local.png" %}" /></li>
	                <li id="fat-menu" class="dropdown">
	                    <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
	                        <i class="icon-user"></i> {{ User.name_text }}
	                        <i class="icon-caret-down"></i>
	                    </a>
	
	                    <ul class="dropdown-menu">
	                        <li><a tabindex="-1" href="/account">Mijn account</a></li>
	                        <li class="divider"></li>
	                        <li><a tabindex="-1" href="/password">Wachtwoord wijzigen</a></li>
	                        <li class="divider"></li>
	                        <li><a tabindex="-1" href="/logout">Uitloggen</a></li>
	                    </ul>
	                </li>
	                {% elif User and provider == "facebook" %}
	                <li><img src="{% static "images/facebook.png" %}" /></li>
	                <li id="fat-menu" class="dropdown">
	                    <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
	                        <img src="{{ User.facebook_image }}" height="18" width="18" /> {{ User.name_text }}
	                        <i class="icon-caret-down"></i>
	                    </a>
	
	                    <ul class="dropdown-menu">
	                        <li><a tabindex="-1" href="/logout">Uitloggen</a></li>
	                    </ul>
	                </li>
	                {% elif User and provider == "google" %}
	                <li><img src="{% static "images/google.png" %}" /></li>
	                <li id="fat-menu" class="dropdown">
	                    <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
	                        <img src="{{ User.google_image }}" height="18" width="18" /> {{ User.name_text }}
	                        <i class="icon-caret-down"></i>
	                    </a>
	
	                    <ul class="dropdown-menu">
	                        <li><a tabindex="-1" href="/logout">Uitloggen</a></li>
	                    </ul>
	                </li>
	                {% else %}
                	<li><a href="/register" role="button">Registreren</a></li>
                	<li><a href="/login" role="button">Inloggen</a></li>
	                {% endif %}
	            </ul>
	            <a href="/"><span class="left"><img src="{% static "images/logo.png" %}" /></span></a>
	            <a class="brand" href="/"><span class="first">energie website</span> <span class="second">Pieter & Wesley</span></a>
		    </div>
		</div>
		
		{% block content %}{% endblock %}
		
		<script type="text/javascript" src="{% static "lib/jquery/jquery-1.10.2.min.js" %}"></script>
   		<script type="text/javascript" src="{% static "lib/bootstrap/js/bootstrap.min.js" %}"></script>
   		{% block extrajsbody %}{% endblock %}
	</body>
</html>
