{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="dialog">
    	{% if result == 0 %}
    	<div class="alert alert-error">
        	<button type="button" class="close" data-dismiss="alert">X</button>
        	{{ result_msg }}
        </div>
        {% endif %}
        
        {% if result == 1 %}
    	<div class="alert alert-success">
        	<button type="button" class="close" data-dismiss="alert">X</button>
        	{{ result_msg }}
        </div>
        {% endif %}
    	
    	{% if verboden == False %}
        <div class="block">
            <p class="block-heading">Database vullen met random data</p>
            <div class="block-body">
                <form name="postData" method="POST" action="/db_vullen_met_random_data">
                	{% csrf_token %}
                    <label>Aantal users</label>
                    <input type="text" class="span12" name="aantal" value="{{ aantal }}">
                    
                    <button type="submit" class="btn btn-primary pull-right">Vullen</button>
                    
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
