{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ title }}{% endblock %}

{% block extrajshead %}
<script type="text/javascript" src="{% static "lib/raphael/raphael-min.js" %}"></script>
<script type="text/javascript" src="{% static "lib/raphael/popup.js" %}"></script>
<script type="text/javascript" src="{% static "lib/raphael/raphalytics.js" %}"></script>
{% endblock %}

{% block content %}
<div class="sidebar-nav">
    <a href="#menu" class="nav-header" data-toggle="collapse">Menu</a>
    <ul id="menu" class="nav nav-list collapse in">
        <li><a href="/"><i class="icon-home"></i>Home</a></li>
        <li><a href="/appliances"><i class="icon-list-alt"></i>Apparaten</a></li>
        <li><a href="/productions"><i class="icon-cog"></i>Opbrengsten</a></li>
        <li class="active"><a href="/graphs"><i class="icon-dashboard"></i>Grafieken</a></li>
    </ul>
</div>
  
<div class="content">
	<div class="header">
		<h1 class="page-title">Grafieken</h1>
	</div>
	
	<ul class="breadcrumb">
		<li><a href="/">Home</a><span class="divider">/</span></li>
		<li class="active">Grafieken</li>
	</ul>
	
	<div class="container-fluid">
		<div class="well hidden-main" id="invoer">
	    	<div id="errorDiv" class="alert alert-error hidden-main ">
	        	U moet een apparaat selecteren!
	        </div>
			<input type="hidden" class="span3" name="email" value="{{ User.email_text }}" />
			
			<label>Postcode (Optioneel)</label>
			<input type="text" class="span3" name="zipcode" value="" id="user_zipcode" />
			
			<label>Type of Soort</label>
			<select id="typeSoort" class="span3" name="select_type_soort">
				<option selected="selected" value="type">Type</option>
				<option value="soort">Soort</option>
			</select>
			
			<div id="appliancesDiv">
				<label>Apparaten</label>
				<select id="appliancesList" class="span3" name="select_appliance">
					<option selected="selected" value="">Selecteer</option>
				</select>
			</div>
			
			<button id="toon-grafiek" type="button" class="btn btn-primary">Toon grafiek</button>
			
			<div id="dataDiv" class="hidden-main">
				<div class="legend" id="titel"></div>
				<div id="holder"></div>
				<div class="legend" align="center"><span class="blue-txt">mijn apparaat</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="red-txt">gemiddelde</span></div>
			</div>
		</div>
		<div class="well hidden-main" id="leeg">
			Uw heeft nog geen apparaten toegevoegd.
		</div>
	</div>
</div>
{% endblock %}

{% block extrajsbody %}
<script type="text/javascript" src="{% static "js/main.js" %}"></script>
{% endblock %}
