{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="sidebar-nav">
    <a href="#menu" class="nav-header" data-toggle="collapse">Menu</a>
    <ul id="menu" class="nav nav-list collapse in">
        <li class="active"><a href="/"><i class="icon-home"></i>Home</a></li>
        <li><a href="/appliances"><i class="icon-list-alt"></i>Apparaten</a></li>
        <li><a href="/productions"><i class="icon-cog"></i>Opbrengsten</a></li>
        <li><a href="/graphs"><i class="icon-dashboard"></i>Grafieken</a></li>
    </ul>
</div>
  
<div class="content">
	<div class="header">
		<h1 class="page-title">Home</h1>
	</div>
	<div class="well">
		<h4>Opgaven week 3</h4>
		<h4>Opgave 2: energie website (vt/dt)</h4>
		<p>
			Steeds meer mensen maken gebruik van eigen energiebronnen, zoals zonnepanelen of windmolens, maar bijvoorbeeld ook mestvergisters.
			In deze opgave wordt er van uitgegaan dat deze bronnen allemaal de mogelijkheid hebben om hun energieproductie af te lezen.
			De site in deze opgave is bedoeld om mensen inzicht te geven in deze productie en om dit te vergelijken met anderen.
		</p>
		<p>
			Deze en de volgende twee opgaven gaan over deze website. Hierbij is het van belang dat aan het eind van elke opgave de code in git wordt ingecheckt, 
			opdat de situatie op dat moment wordt vastgelegd.
		</p>
		<ol>
			<li>
				Implementeer de onderstaande functionele eisen. Maak hierbij gebruik van less om de voorkant er goed uit te laten zien:
			</li>
		</ol>
		<ul>
  			<li>
  				Bezoekers kunnen zich op basis van huishouden registeren. Het aantal personen waar een huishouden uit bestaat (&eacute;&eacute;n of meer) moet worden opgeslagen,
				evenals standaardgegevens als e-mailadres en telefoonnummer.
  			</li>
  			<li>
  				De geregistreerde kan aangeven welke energie-producerende apparaten er in het huishouden aanwezig zijn. Van dit apparaat worden merk en typenummer opgeslagen.
  			</li>
  			<li>
  				Na registratie kan de bezoeker op gezette tijden van elk van haar apparaten de productie opgeven.
  				Bij zo'n opgave wordt de tijd ook geregistreerd. Elke meting bestaat uit de productie op dat moment (in kW) en de totaal opgeleverde
				hoeveelheid energie (in kWh).
  			</li>
  			<li>
  				De bezoeker kan in een tabel de gegevens haar apparaten inzien, op vergelijkbare
				manier zoals hieronder wordt weergegeven:
  			</li>
  			<img src="{% static "images/energie-tabel.png" %}" />
		</ul>
		<ol start="2">
			<li>
				Vul de database met een significante hoeveelheid testdata (minimaal vijfhonderd huishoudens met gemiddeld vier apparaten).
				Deze data moeten suggereren dat door heel Groningen verdeeld huishoudens aan deze site meewerken er moet dus een redelijk
				evenredige verdeling van de postcodes (9711 - 9750) in de database komen.
			</li>
			<li>
				Demonstreer het resultaat aan de practicumdocent en lever de code in via Blackboard.
			</li>
		</ol>
		
		<br>
		
		<h4>Opgave 3: data visualisatie</h4>
		<p>
			Deze opgave gaat verder op de vorige. Als deze niet of onvoldoende is afgerond, vraag dan de practicumdocent om een ingevulde database om te gebruiken.
		</p>
		<ol start="2">
			<li>
				Maak een wrapper die met ajax kan worden benaderd. Hierbij moet er alleen json over de lijn gaan. Het doel van deze wrapper is om een vergelijking tussen
				de opbrengst van de apparaten van de bezoeker te vergelijken met die van andere gebruikers. De client verstuurt een GET-request met het typenummer van
				het apparaat van de bezoeker en de vergelijking die zij wil maken:
			</li>
		</ol>
		<ul>
  			<li>
  				de gemiddelde opbrengst per uur van alle apparaten van hetzelfde type;
  			</li>
  			<li>
  				de gemiddelde opbrengst per uur van alle apparaten van hetzelfde soort apparaat
  			</li>
		</ul>
		<ol start="3">
			<li>
				Zorg ervoor dat bij deze vergelijking een postcodegebied kan worden opgegeven, zodat een vergelijking gemaakt kan worden met apparaten in het hele land
				of alleen in de eigen buurt.
			</li>
			<li>
				Maak gebruik van Raphael om deze vergelijking in een grafiek weer te geven. Zie onderstaande voorbeeld (let op: dit is een voorbeeld, het hoeft er uiteraard
				niet exact zo uit te zien):
			</li>
			<img src="{% static "images/energie-grafiek.png" %}" />
			<li>
				Wanneer de bezoeker over een meetpunt heen gaat, moet ze de exacte waarde van dat punt te zien krijgen.
			</li>
		</ol>
		<ol start="7">
			<li>
				Demonstreer het werk aan de practicumdocent, check het geheel in in git en lever het in via Blackboard.
			</li>
		</ol>
		
		<br>
		
		<h4>Opgaven week 4</h4>
		<h4>Opgave 3: login met facebook (vt/dt)</h4>
		<ol start="3">
			<li>
				Maak gebruik van OAuth 2.0 om inloggen in de site via een andere partij mogelijk te maken. Kies uit de lijst van service providers op wikipedia minimaal twee providers.
			</li>
			<li>
				Demonstreer de werking aan de practiumdocent en check deze versie in in git. Lever de code in via Blackboard.
			</li>
		</ol>
	</div>
</div>
{% endblock %}
