{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="dialog">
		{% if result == 0 %}
    	<div class="alert alert-error">
        	<button type="button" class="close" data-dismiss="alert">X</button>
        	{{ result_msg }}
        </div>
        {% endif %}
        
        {% if result == 1 %}
    	<div class="alert alert-success">
        	<button type="button" class="close" data-dismiss="alert">X</button>
        	{{ result_msg }}
        </div>
	        {% if referer %}
			<meta http-equiv="refresh" content="3;URL=/{{ referer }}" />
	       	{% else %}
			<meta http-equiv="refresh" content="3;URL=/" />
			{% endif %}
        {% endif %}
  
		<div class="block">
			<p class="block-heading">Inloggen</p>
			<div class="block-body">
            	{% if referer %}
				<form name="frmData" method="POST" action="/login?referer={{ referer }}">
                {% else %}
                <form name="frmData" method="POST" action="/login">
                {% endif %}
                	{% csrf_token %}
                    <label>E-mailadres</label>
                    <input type="text" class="span12" name="username" value="{{ emailadres }}">
                    <label>Wachtwoord</label>
                    <input type="password" class="span12" name="password">
                    <button name=btnLogin class="btn btn-primary pull-right" type=submit>Inloggen</button>
                    <div class="clearfix"></div>
                </form>
                <a href="https://www.facebook.com/dialog/oauth?client_id={{ facebook_client_id }}&redirect_uri={{ facebook_redirect_uri }}&scope={{ facebook_scope }}">
					<img src="{% static "images/facebook-login-button.png" %}" />
				</a>
				<a href="https://accounts.google.com/o/oauth2/auth?client_id={{ google_client_id }}&response_type=code&scope={{ google_scope }}&redirect_uri={{ google_redirect_uri }}">
					<img src="{% static "images/sign-in-with-google.png" %}" />
				</a>
            </div>
		</div>
		<p><a href="reset-password.html">Je wachtwoord vergeten?</a></p>
	</div>
</div>
{% endblock %}
