{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="dialog">
		{% if result == 0 %}
    	<div class="alert alert-error">
        	<button type="button" class="close" data-dismiss="alert">X</button>
        	{{ result_msg }}
        </div>
        {% endif %}
        
        {% if result == 1 %}
    	<div class="alert alert-success">
        	<button type="button" class="close" data-dismiss="alert">X</button>
        	{{ result_msg }}
        </div>
        {% endif %}
    
        <div class="block">
            <p class="block-heading">Wachtwoord wijzigen</p>
            <div class="block-body">
                <form name="postData" method="POST" action="/password">
                	{% csrf_token %}
                	<label>E-mailadres</label>
                    <input type="text" class="span12" name="email" disabled value="{{ User.email_text }}">
                    
                    <label>Wachtwoord</label>
                    <input type="password" class="span12" name="password1">
                    
                    <label>Bevestig wachtwoord</label>
                    <input type="password" class="span12" name="password2">
                    
                    <button type="submit" class="btn btn-primary pull-right">Opslaan</button>
                    
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
	</div>
</div>
{% endblock %}


