{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="dialog">    
        <div class="block">
            <p class="block-heading">Privacy Policy</p>
            <div class="block-body">
                De persoonlijke informatie die u ons verschaft wordt vertrouwelijk behandeld.
            </div>
        </div>
    </div>
</div>
{% endblock %}
