{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="sidebar-nav">
	<a href="#menu" class="nav-header" data-toggle="collapse">Menu</a>
	<ul id="menu" class="nav nav-list collapse in">
		<li><a href="/"><i class="icon-home"></i>Home</a></li>
		<li><a href="/appliances"><i class="icon-list-alt"></i>Apparaten</a></li>
		<li class="active"><a href="/productions"><i class="icon-cog"></i>Opbrengsten</a></li>
		<li><a href="/graphs"><i class="icon-dashboard"></i>Grafieken</a></li>
	</ul>
</div>
  
<div class="content">
	<div class="header">			
		<h1 class="page-title">Opbrengst apparaten</h1>
	</div>

	<ul class="breadcrumb">
		<li><a href="/">Home</a><span class="divider">/</span></li>
		<li class="active">Opbrengst</li>
	</ul>
	
	<div class="container-fluid">
	  	<div class="well">
	  		{% if Productions %}
	  		<table class="table">
	  			<thead>	
	  				<tr>
	  					<th>Apparaat</th>
	  					<th></th>
	  					<th>09:00</th>
	  					<th>10:00</th>
	  					<th>11:00</th>
	  					<th>12:00</th>
	  					<th>13:00</th>
	  					<th>14:00</th>
	  					<th>15:00</th>
	  					<th>16:00</th>
	  					<th>17:00</th>
	  					<th>18:00</th>
	  				</tr>
	  			</thead>
	  			<tbody>
	  				{% for prod in Productions %}
	  				<tr>
	  					<td rowspan="2">{{ prod.appliance.desc_text }} ({{ prod.appliance.brand_text }})</td>
	  					<td>kW</td>
	  					<td>{{ prod.production_kw_0900 }}</td>
	  					<td>{{ prod.production_kw_1000 }}</td>
	  					<td>{{ prod.production_kw_1100 }}</td>
	  					<td>{{ prod.production_kw_1200 }}</td>
	  					<td>{{ prod.production_kw_1300 }}</td>
	  					<td>{{ prod.production_kw_1400 }}</td>
	  					<td>{{ prod.production_kw_1500 }}</td>
	  					<td>{{ prod.production_kw_1600 }}</td>
	  					<td>{{ prod.production_kw_1700 }}</td>
	  					<td>{{ prod.production_kw_1800 }}</td>
	  				</tr>
	  				<tr>
	  					<td>kWh</td>
	  					<td>{{ prod.production_kwh_0900 }}</td>
	  					<td>{{ prod.production_kwh_1000 }}</td>
	  					<td>{{ prod.production_kwh_1100 }}</td>
	  					<td>{{ prod.production_kwh_1200 }}</td>
	  					<td>{{ prod.production_kwh_1300 }}</td>
	  					<td>{{ prod.production_kwh_1400 }}</td>
	  					<td>{{ prod.production_kwh_1500 }}</td>
	  					<td>{{ prod.production_kwh_1600 }}</td>
	  					<td>{{ prod.production_kwh_1700 }}</td>
	  					<td>{{ prod.production_kwh_1800 }}</td>
	  				</tr>
	  				{% endfor %}
	  			</tbody>
	  		</table>
	  		{% else %}
   			Uw heeft nog geen opbrengsten ingevoerd.
			{% endif %}
	  	</div>
	</div>
</div>
{% endblock %}
