{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="sidebar-nav">
	<a href="#menu" class="nav-header" data-toggle="collapse">Menu</a>
	<ul id="menu" class="nav nav-list collapse in">
		<li><a href="/"><i class="icon-home"></i>Home</a></li>
	    <li class="active"><a href="/appliances"><i class="icon-list-alt"></i>Apparaten</a></li>
	    <li><a href="/productions"><i class="icon-cog"></i>Opbrengsten</a></li>
	    <li><a href="/graphs"><i class="icon-dashboard"></i>Grafieken</a></li>
	</ul>
</div>
  
<div class="content">
	<div class="header">			
		<h1 class="page-title">Apparaten</h1>
	</div>

	<ul class="breadcrumb">
		<li><a href="/">Home</a><span class="divider">/</span></li>
		<li><a href="/appliances">Apparaten</a><span class="divider">/</span></li>
		<li class="active">Nieuw apparaat</li>
		<li class="pull-right"><a href="/appliance/add">Toevoegen</a></li>
	</ul>
	
	<div class="container-fluid">
		{% if result == 0 %}
    	<div class="alert alert-error">
        	<button type="button" class="close" data-dismiss="alert">X</button>
        	{{ result_msg }}
        </div>
        {% endif %}
        
        {% if result == 1 %}
    	<div class="alert alert-success">
        	<button type="button" class="close" data-dismiss="alert">X</button>
        	{{ result_msg }}
        </div>
        {% endif %}
		<div class="well">
			<form id="newAppForm" method="POST" action="/appliance/add">
				{% csrf_token %}
				<label>Soort</label>
				<select name="app_soort">
					<option {% if Appliances.soort_text == "" %}selected="selected"{% endif %} value="">Selecteer</option>
					<option {% if Appliances.soort_text == "Windmolen" %}selected="selected"{% endif %} value="Windmolen">Windmolen</option>
  					<option {% if Appliances.soort_text == "Zonnepaneel" %}selected="selected"{% endif %} value="Zonnepaneel">Zonnepaneel</option>
				</select>
				<label>Merk</label>
				<input type="text" name="app_brand" value="{{ Appliances.brand_text }}">
				<label>Type nr.</label>
				<input type="text" name="app_nr" value="{{ Appliances.type_nr }}">
				<label>Omschrijving</label>
				<textarea name="app_description">{{ Appliances.desc_text }}</textarea>
				
				<div>
					<button type="submit" class="btn btn-primary">Opslaan</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
