{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ title }}{% endblock %}

{% block extrajshead %}
<script type="text/javascript" src="{% static "lib/raphael/raphael-min.js" %}"></script>
<script type="text/javascript" src="{% static "lib/raphael/popup.js" %}"></script>
<script type="text/javascript" src="{% static "lib/raphael/raphalytics.js" %}"></script>
<script type='text/javascript'>
	window.onload=function () {
		var r=Raphael('holder');
        var labels = ['09:00','10:00','11:00','12:00','13:00','14:00','15:00','16:00','17:00','18:00'],
        	labelsLong = [{{ prod_eigen }},{{ prod_gem }}],
        	data = [{{ prod_eigen }},{{ prod_gem }}];
        
	    r.raphalytics(data,labels,labelsLong,{'width':800,'height':400,'gridtype':'full_grid','fill':false,'color':['blue','red'], 'y_labels_number':2, 'y_labels_position':'outside'});
	  }
</script>
{% endblock %}

{% block content %}
<div class="sidebar-nav">
	<a href="#menu" class="nav-header" data-toggle="collapse">Menu</a>
	<ul id="menu" class="nav nav-list collapse in">
		<li><a href="/"><i class="icon-home"></i>Home</a></li>
	    <li class="active"><a href="/appliances"><i class="icon-list-alt"></i>Apparaten</a></li>
	    <li><a href="/productions"><i class="icon-cog"></i>Opbrengsten</a></li>
	    <li><a href="/graphs"><i class="icon-dashboard"></i>Grafieken</a></li>
	</ul>
</div>
  
<div class="content">
	<div class="header">			
		<h1 class="page-title">Apparaten</h1>
	</div>

	<ul class="breadcrumb">
		<li><a href="/">Home</a><span class="divider">/</span></li>
		<li><a href="/appliances">Apparaten</a><span class="divider">/</span></li>
		<li class="active">Grafiek</li>
	</ul>
	<div class="container-fluid">
	   	{% if result == 0 %}
	   	<div class="alert alert-error">
	       	<button type="button" class="close" data-dismiss="alert">X</button>
	       	{{ result_msg }}
	       </div>
	       {% endif %}
	       
	       {% if result == 1 %}
	   	<div class="alert alert-success">
	       	<button type="button" class="close" data-dismiss="alert">X</button>
	       	{{ result_msg }}
	       </div>
	       <meta http-equiv="refresh" content="3;URL=/login" />
	       {% endif %}
	   	
	   	{% if app_id %}
	     <div class="well">
	     	<h2>{{ Appliance.brand_text }} ({{ Appliance.type_nr }})</h2>
			<div id="holder"></div>
			<div class="legend" align="center"><span class="blue-txt">mijn apparaat</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="red-txt">landelijk gemiddelde (type)</span></div>
	     </div>
	     {% endif %}
	</div>
</div>
{% endblock %}

