{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="dialog">
		{% if result == 0 %}
		<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">X</button>
			{{ result_msg }}
		</div>
		{% endif %}
	       
		{% if result == 1 %}
	   	<div class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert">X</button>
			{{ result_msg }}
		</div>
		<meta http-equiv="refresh" content="3;URL=/" />
		{% endif %}
	</div>
</div>
{% endblock %}
