.brand {
	font-family: georgia, serif;
}
.brand .first {
	color: #ccc;
	font-style: italic;
}
.brand .second {
	color: #fff;
	font-weight: bold;
}
.title {
	font-weight: bold;
}
.bg-wit {
	background-color: white !important;
	border:1px solid white !important;
}
.global {
	width: 462px;
	padding: 2px;
	text-align: left;
}
.leftpane {
	width: 150px;
	margin-right: 2px;
	display: inline-table;
	text-align: left;
}
.rightpane {
	width: 150px;
	display: inline-table;
	text-align: left;
}
.legend {
	width: 800px;
}
.blue-txt {
	color: blue;
	font-weight: bold;
}
.red-txt {
	color: red;
	font-weight: bold;
}
#holder {
	height: 410px;
	width: 800px;
}
.hidden-main {
	display: none;
}
.left {
	float: left;
}
.right {
	float: right;
}