body {
	margin: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	background-color: #fff;
}

#wrapper {
	padding-top: 30px;
	margin-bottom: 10px;
	width: 960px;
	margin: 0 auto;
	
	#content {
		height: 200px;
	}
}