{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="sidebar-nav">
	<a href="#menu" class="nav-header" data-toggle="collapse">Menu</a>
	<ul id="menu" class="nav nav-list collapse in">
		<li><a href="/"><i class="icon-home"></i>Home</a></li>
	    <li class="active"><a href="/appliances"><i class="icon-list-alt"></i>Apparaten</a></li>
	    <li><a href="/productions"><i class="icon-cog"></i>Opbrengsten</a></li>
	    <li><a href="/graphs"><i class="icon-dashboard"></i>Grafieken</a></li>
	</ul>
</div>
  
<div class="content">
	<div class="header">			
		<h1 class="page-title">Apparaten</h1>
	</div>

	<ul class="breadcrumb">
		<li><a href="/">Home</a><span class="divider">/</span></li>
		<li><a href="/appliances">Apparaten</a><span class="divider">/</span></li>
		<li class="active">Opbrengst invoeren</li>
	</ul>
	<div class="container-fluid">
		{% if result == 0 %}
    	<div class="alert alert-error">
        	<button type="button" class="close" data-dismiss="alert">X</button>
        	{{ result_msg }}
        </div>
        {% endif %}
        
        {% if result == 1 %}
    	<div class="alert alert-success">
        	<button type="button" class="close" data-dismiss="alert">X</button>
        	{{ result_msg }}
        </div>
        {% endif %}
        {% if app_id %}
		<div class="well">
			<h2>{{ Appliance.desc_text }} ({{ Appliance.brand_text }})</h2>
			<form id="newAppForm" method="POST" action="/production/add?id={{ app_id }}">
				{% csrf_token %}
				<div class="global">
					<div class="leftpane">
				    	<span class="title">Datum/tijd</span><br />
				    	<input type="text" class="input-small bg-wit" value="09:00" disabled>
				    	<input type="text" class="input-small bg-wit" value="10:00" disabled>
				    	<input type="text" class="input-small bg-wit" value="11:00" disabled>
				    	<input type="text" class="input-small bg-wit" value="12:00" disabled>
				    	<input type="text" class="input-small bg-wit" value="13:00" disabled>
				    	<input type="text" class="input-small bg-wit" value="14:00" disabled>
				    	<input type="text" class="input-small bg-wit" value="15:00" disabled>
				    	<input type="text" class="input-small bg-wit" value="16:00" disabled>
				    	<input type="text" class="input-small bg-wit" value="17:00" disabled>
				    	<input type="text" class="input-small bg-wit" value="18:00" disabled>
					</div>
					<div class="rightpane">
					    <span class="title">kW</span><br />
					    <input type="text" class="input-small" name="prod_kw_0900" value="{{ Production.production_kw_0900 }}">
						<input type="text" class="input-small" name="prod_kw_1000" value="{{ Production.production_kw_1000 }}">
						<input type="text" class="input-small" name="prod_kw_1100" value="{{ Production.production_kw_1100 }}">
						<input type="text" class="input-small" name="prod_kw_1200" value="{{ Production.production_kw_1200 }}">
						<input type="text" class="input-small" name="prod_kw_1300" value="{{ Production.production_kw_1300 }}">
						<input type="text" class="input-small" name="prod_kw_1400" value="{{ Production.production_kw_1400 }}">
						<input type="text" class="input-small" name="prod_kw_1500" value="{{ Production.production_kw_1500 }}">
						<input type="text" class="input-small" name="prod_kw_1600" value="{{ Production.production_kw_1600 }}">
						<input type="text" class="input-small" name="prod_kw_1700" value="{{ Production.production_kw_1700 }}">
						<input type="text" class="input-small" name="prod_kw_1800" value="{{ Production.production_kw_1800 }}">
					</div>
					<div class="rightpane">
					    <span class="title">kWh</span><br />
					    <input type="text" class="input-small" name="prod_kwh_0900" value="{{ Production.production_kwh_0900 }}" disabled>
						<input type="text" class="input-small" name="prod_kwh_1000" value="{{ Production.production_kwh_1000 }}" disabled>
						<input type="text" class="input-small" name="prod_kwh_1100" value="{{ Production.production_kwh_1100 }}" disabled>
						<input type="text" class="input-small" name="prod_kwh_1200" value="{{ Production.production_kwh_1200 }}" disabled>
						<input type="text" class="input-small" name="prod_kwh_1300" value="{{ Production.production_kwh_1300 }}" disabled>
						<input type="text" class="input-small" name="prod_kwh_1400" value="{{ Production.production_kwh_1400 }}" disabled>
						<input type="text" class="input-small" name="prod_kwh_1500" value="{{ Production.production_kwh_1500 }}" disabled>
						<input type="text" class="input-small" name="prod_kwh_1600" value="{{ Production.production_kwh_1600 }}" disabled>
						<input type="text" class="input-small" name="prod_kwh_1700" value="{{ Production.production_kwh_1700 }}" disabled>
						<input type="text" class="input-small" name="prod_kwh_1800" value="{{ Production.production_kwh_1800 }}" disabled>
					</div>
				</div>
				<div>
					<button type="submit" class="btn btn-primary">Opslaan</button>
				</div>
			</form>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}
